.wcfc-parent-wrapper{
    max-width: 350px;
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    height: inherit;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 99999999;
}

.wcfc-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px 15px 10px;
    margin: 0px;
    list-style: none;
    border-bottom: 1px solid #E8E8E8;
}

.wcfc-products{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.wcfc-products .wcfc-product-list{
    border-bottom: 1px solid #E8E8E8;
    padding: 20px 10px 20px 10px;
}

.wcfc-products .wcfc-product-list .wcfc-product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-price{
    align-self: flex-start;
}

.wcfc-products .wcfc-product-list .wcfc-product-info img{
    flex: 0 0 4em;
}

.wcfc-products .wcfc-product-list .wcfc-product-info p{
    padding: 0px;
    margin: 0px;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-price{
    font-weight: 500;
    font-size: 15px;
    line-height: 16.8px;
    color: #282828;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2 p:nth-child(1){
    padding: 0px 0px 10px 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 16.8px;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2 p:nth-child(2) {
    padding: 0px 0px 10px 0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.8px;
    color: #B8B8B8;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2 p:last-child {
    font-size: 40px;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2 .wcfc-info-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2 .wcfc-info-group input[type="number"]::-webkit-inner-spin-button, 
.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2 .wcfc-info-group input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2 .wcfc-info-group input{
    border: 1px solid #F5F5F5;
    padding: 0px;
    width: 50px;
    text-align: center;
}

.wcfc-products .wcfc-product-list .wcfc-product-info .wcfc-product-info-2{
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
}

.wcfc-header li.wcfc-item-2 {
    display: flex;
    align-items: center;
    color: #BDBDBD;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

.wcfc-header li.wcfc-item-3{
    padding: 5px 0px 0px 0px;
}

.wcfc-parent-wrapper .wcfc-header li h2{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.6px;
    padding: 0px;
    margin: 0px;
}